<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901719357892-ughhb72klv60and4fqqcoaost1u8nv4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901719357892-ughhb72klv60and4fqqcoaost1u8nv4q</string>
	<key>API_KEY</key>
	<string>AIzaSyDvU6F8c2dVlN30vN8o3ntIYh-6q0VPd8k</string>
	<key>GCM_SENDER_ID</key>
	<string>901719357892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gado.SafeZone-ChildApp</string>
	<key>PROJECT_ID</key>
	<string>safezone-28d31</string>
	<key>STORAGE_BUCKET</key>
	<string>safezone-28d31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901719357892:ios:6984401312f23f50e20c91</string>
	<key>DATABASE_URL</key>
	<string>https://safezone-28d31.firebaseio.com</string>
</dict>
</plist>